body {
	background-color: #fafafa;
	text-align: center;
	color: #000000;
	/* font-family: "JetBrains Mono"; */
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

h1 {
	color: navy;
	/* font: "JetBrains Mono"; */
}
